# Exclude unnecessary files and directories
.vscode/**
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts

# Include the src/assets directory
!src/assets/**