# Exclude unnecessary files and directories
.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts

# Include the src/assets directory
!src/assets/**